# Ignore Python bytecode and virtual environment
*.pyc
*.pyo
__pycache__/
venv/
staticfiles

# Ignore unnecessary frontend files
frontend/node_modules
frontend/build
frontend/package-lock.json

# Ignore logs and temporary files
*.log
*.sqlite3
*.swp
tmp/

# Ignore IDE and editor settings
.idea/
.vscode/

# Ignore Dockerfile (if needed)
Dockerfile
