/* src/App.css */
.App {
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

button.disabled {
  background-color: lightgray;
  color: white;
  cursor: not-allowed;
}

.keyboard {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}